{{ define "CreationForm" }}  

<div style="max-width: 1200px; margin: auto; padding: 2rem 0; display: flex; gap: 2rem;">
          <div style="width: 62%;">
            <form id="creation-form" style="display: flex; flex-direction: column">
                <input id="model-description" name="description" type="text" value="light blonde hair and blue eyes individual irish girl (kim Kardashian | Florence Pugh)" />
                <input id="sample-prompt" type="hidden" value="${props.samplePrompt}" />
                <input id="prompt-example" name="prompt" type="hidden" value="{{.SamplePrompt}}" />
                <div><button>Test</button></div>
            </form>
  
            <form id="create-gallery-form" style="display: none; flex-direction: column">
                <input id="model-name" type="text" name="name" />
                <input id="model-description-final" type="text" name="description" />
                <div><button>Add to Gallery</button></div>
            </form>
          </div>
          
          <div id="preview-area" style="width: 38%;">
            <div id="image-container" style="width: 100%; background-color: lightgrey" class="default-aspect">
                <!--<img style="display: block; margin: auto; width: 100%" src="/images/odette-jenner9e403.png"/>-->
            </div>
          </div>
          <script>
              
          </script>
      </div>
  {{ end }}
