{{ define "footer" }}
    <footer style="max-width: 1200px; padding: 1rem; margin: auto; text-align: center;">
        <p>&copy; 2023 Sean O'Meara. All rights reserved.</p>
    </footer>
    <script src="/assets/index.js" ></script>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
    </body>    
   </html>
{{ end }}
