{{ define "footer" }}
    <footer style="max-width: 1200px; padding: 1rem; margin: auto; text-align: center;">
        <p>&copy; 2023 Sean O'Meara. All rights reserved.</p>
    </footer>
    <script src="/assets/index.js" ></script>
    </body>    
   </html>
{{ end }}
