{{ define "HeroGrid" }}
<div class="img-grid">
    {{ range .Collections }}
        {{ range . }}
            <a href="/models/{{ .Name }}">
            <img
                    src="{{ .URL }}"
                    alt="{{ .Prompt }}"     
            />
            <h2>{{ .Name | FormatName}}</h2>
        </a>
        {{ end }}
    {{ end }}
</div>
{{ end }}
