.img-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  aspect-ratio: 9/16;
  gap: 10px;
}

.img-grid > * {
  overflow: hidden;
}

.img-grid > *:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
.img-grid > *:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: end;
  grid-row-start: 1;
  grid-row-end: 1;
}
.img-grid > *:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}
.img-grid > *:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: end;
}
.img-grid > *:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: end;
}

@media (min-width: 600px) {
  .img-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
  }
  
  .img-grid > *:nth-child(n) {
     grid-column-start: auto;
     grid-column-end: auto;
     grid-row-start: auto;
     grid-row-end: auto;
  }
}
.img-grid a {
  position: relative;
  max-height: 800px;
}
.img-grid a h2 {
  color: white;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 20px;
}
.img-grid a img {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

