@import "./nav2.css";
@import "./imggrid.css";

html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  background-color: #333;
  color: #fff;
}

header h1 {
  margin: 0;
  padding-top: 20px;
}

header h1 {
  text-align: center;
}
.fade-grid-item--hidden {
  visibility: hidden;
  position: relative;
}
/*.nav {
  display: flex;
  justify-content: center;
}

.nav .nav-items {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media(min-width: 800px){
    .nav .nav-items {
        display: flex;
    }
}

.nav .nav-items .nav-items__item {
  display: inline-block;
  margin: 10px;
}

.nav a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #666;
}*/


#container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

#container div {
  width: 50%;
}

#container div img {
  width: 100%;
  aspect-ratio: 512/768;
}

.default-aspect {
  aspect-ratio: 512/768;
}

@media (min-width: 500px) {
  #container div {
    width: 50%;
  }
}

@media (min-width: 800px) {
  #container div {
    width: 33.33%;
  }
}

@media (min-width: 1000px) {
  #container div {
    width: 25%;
  }
}

@media (min-width: 1300px) {
  #container div {
    width: 10%;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate {
  animation-name: fadein;
  animation-duration: 1s;
}

button a {
  color: inherit;
  text-decoration: none;
}
